# Compiled binaries
/bin/
/*.exe
/*.out

# Object files
*.o
*.obj

*.cache
*.stub

#Test binary
test

# Lib objects folder
/core
/build

/artifacts


# Build system
.clang-format.
CMakeFiles/
CMakeCache.txt

# IDEs
.vscode/
.idea/
*.code-workspace

# Mac/Linux system files
.DS_Store
*.swp
*~


# Logs
*.log

/compile_commands.json
