# Compiled binaries
/bin/
/*.exe
/*.out

# Object files
*.o
*.obj

#Main test folder
compiler_test

# Runtime object folder
/runtime/*.o

# Build system
.clang-format.
CMakeFiles/
CMakeCache.txt

# IDEs
.vscode/
.idea/
*.code-workspace

# Mac/Linux system files
.DS_Store
*.swp
*~

# Logs
*.log

TODO
/compile_commands.json
